<section class="chef" id="chef">
    <img src="assets/topping.png" alt="topping" class="chef__bg" />
    <div class="section-container chef__container">
      <div class="chef__image">
        <img src="custom/4246.jpg" alt="chef" />
      </div>
      <div class="chef__content">
        <h2 class="section-header">Cooked By The Best Chefs In The World</h2>
        <p class="section-description">
          Experience culinary excellence crafted by master chefs from around
          the globe. Our team of culinary virtuosos brings together expertise,
          innovation, and passion to create unforgettable dining experiences
          that redefine gastronomy.
        </p>
        <ul class="chef__list">
          <li>
            <span><i class="ri-checkbox-fill"></i></span>
            Savour culinary brilliance from master chefs worldwide.
          </li>
          <li>
            <span><i class="ri-checkbox-fill"></i></span>
            Experience innovative creations with attention to detail.
          </li>
          <li>
            <span><i class="ri-checkbox-fill"></i></span>
            Enjoy dishes crafted with an unwavering passion for perfection.
          </li>
        </ul>
      </div>
    </div>
  </section>
