<nav>
    <div class="nav-header">
      <div class="logo nav-logo">
        <a href="#">Tasty<span>Eats</span></a>
      </div>
      <div class="nav-menu-btn" id="menu-btn">
       <span><i class="ri-menu-line"></i></span>
      </div>

    </div>
    <ul class="nav-links" id="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#special">Special</a></li>
      <li><a href="#chef">Chef</a></li>
      <li><a href="#client">Clients</a></li>
      <li><a href="#footer">Contact Us</a></li>
    </ul>
    <div class="nav-btn">
      <button class="btn">
        <i class="ri-shopping-bag-fill"></i>
        <span>₹0</span>
      </button>
    </div>
  </nav>

  <header class="section-container header-container">
    <div class="header-image">
      <img src="custom/header.jpg" alt="header">
    </div>
    <div class="header-content">
      <h1>Crunch into  <span>Happiness! </span>.</h1>
      <p class="section-description">
        Indulge in a moment of pure snacking bliss with our meticulously crafted treats. Every bite promises unparalleled flavor, transforming an ordinary break into a delightful escape.      </p>
      <div class="header-btn">
        <button class="specials-btn">Order Now!</button>
      </div>
    </div>
  </header>
