<section class="section-container special-container" id="special">
    <h2 class="section-header">Our Special Dish</h2>
    <p class="section-description">
      Experience a culinary masterpiece with our special dish, where every bite is crafted to perfection and promises an unforgettable taste sensation.
    </p>
    <div class="special-grid">
      <div class="special-card">
        <img src="custom/delicious-baked-banana-slices.jpg" alt="special">
        <h4>Banana chips</h4>
        <p>Crispy, golden banana chips that are sweet and crunchy in every bite.
        </p>
        <div class="special-ratings">
          <span><i class="ri-star-fill"></i></span>
          <span><i class="ri-star-fill"></i></span>
          <span><i class="ri-star-fill"></i></span>
          <span><i class="ri-star-fill"></i></span>
          <span><i class="ri-star-fill"></i></span>
        </div>
        <div class="special-footer">
          <p class="price">₹459</p>
          <button class="specials-btn">Add to Cart</button>
        </div>
      </div>
      <div class="special-card">
        <img src="custom/french-fries-fried-chicken-wooden-plate.jpg" alt="special">
        <h4>Mixed Mixture</h4>
        <p>A tasty blend of crunchy nuts and spicy lentils for a flavorful snack.
        </p>
        <div class="special-ratings">
          <span><i class="ri-star-fill"></i></span>
          <span><i class="ri-star-fill"></i></span>
          <span><i class="ri-star-fill"></i></span>
          <span><i class="ri-star-fill"></i></span>
          <span><i class="ri-star-fill"></i></span>
        </div>
        <div class="special-footer">
          <p class="price">₹409</p>
          <button class="specials-btn">Add to Cart</button>
        </div>
      </div>
      <div class="special-card">
        <img src="assets/special-3.png" alt="special">
        <h4>Pakora Veg Pasta</h4>
        <p>Delicious pasta mixed with crispy vegetable pakoras and a savory sauce.
        </p>
        <div class="special-ratings">
          <span><i class="ri-star-fill"></i></span>
          <span><i class="ri-star-fill"></i></span>
          <span><i class="ri-star-fill"></i></span>
          <span><i class="ri-star-fill"></i></span>
          <span><i class="ri-star-fill"></i></span>
        </div>
        <div class="special-footer">
          <p class="price">₹359</p>
          <button class="specials-btn">Add to Cart</button>
        </div>
      </div>

    </div>


  </section>